* {
  margin: 0;
  padding: 0;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: top;
    font-family: 'Outfit', sans-serif;
    padding: 20px;
}

.palavra2 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.exemplo1{
    float: left;
    width: 550px;

}

.span {
    font-weight: 700;
}

.texto-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.exemplo3{
    position: absolute;
    top: 180%;
}

body{
    background-color: rgb(132, 169, 179);
}
header{
    background-color: #001a33;
}
.footer {
    background-color: #001a33;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer a {
    color: #999;
    text-decoration: none;
  }
  .logo img {
    width: 150px;
    border-radius: 6px;
  }
  .copyright {
    text-align: center;
    color: #f1f1f1;
    font-size: 50%;
    background-color: black
  } 

  #logos{
    width: 280px;
  }
